body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #444;
  color: white;
  font-size: calc(min(4vw, 2.5vh));
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(237, 125, 49);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column-reverse;
}

a {
  color: white;
  text-decoration: none;
}

.siteContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: rgb(237, 125, 49);
  background-image: url("./img/steamworks/fton_library_hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.download {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 1.5em;
}

.nodownload {
  display: none;
}

.statContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(53, 56, 77);
  background-image: url("./img/arcade_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#ftonTitle {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 75vw;
  z-index: 1;
  color: white;
  padding: 2vw;
  font-size: 4em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}

#ftonVideo {
  padding: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#ftonVideo video {
  max-width: 50vw;
  max-height: 40vh;
}

#ftonSteam {
  padding: 5em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ftonWidget {
  max-width: 90vw;
}

#ftonPlay {
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: white;
  color: orange;
  font-weight: bold;
}

/* Mobile Only Styles */
@media screen and (max-aspect-ratio: 2/3) {
  body {
    height: calc(90vh - 70px);
  }

  .siteContainer {
    height: calc(90vh - 70px);
    width: 100vw;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .siteContainer div {
    padding: 1vh 5vw;
  }

  .download {
    display: none;
  }

  .nodownload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #ftonTitle {
    position: relative;
    text-align: center;
    max-width: 100vw;
  }

  #ftonImage img {
    max-width: 66vw;
    z-index: 0;
  }

  #ftonVideo video {
    max-width: 90vw;
    z-index: 0;
  }

  #ftonSteam {
    padding: 0;
  }
}